<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap" rel="stylesheet">
   {% load static %}
   <link rel="stylesheet" type="text/css" href="{% static 'custom.css' %}" media="screen" />
   <link rel="stylesheet" href="{% static 'flags/sprite.css' %}">
   
   <title>Medigi</title>
</head>

<body>
    <div id="splash">
        <img src="{% static 'img/logo.png' %}" alt="" class="logo">
        <p>Medigi</p>
    </div>
    <div class="content">
        <header class="app-header">
            <div class="user-login-logout">
                {% if request.user.is_authenticated %}
                <div class="user-welcome">
                    <p>Welcome {{request.user}}!</p>
                </div>
                <div class="container">
                    <img src="{% static 'img/logo.png' %}" alt="" class="logo">
                    <p id="brand-name">Medigi</p>
                    <!-- <p id="motto">A pharmacist in your pocket.</p>   -->
                </div>
                <div class="login-logout">
                    <a href="{% url 'medic_app:logout' %}">Logout</a>
                </div>
                {% else %}
                <div class="container">
                    <img src="{% static 'img/logo.png' %}" alt="" class="logo">
                    <p id="brand-name">Medigi</p>
                    <!-- <p id="motto">A pharmacist in your pocket.</p>   -->
                </div>
                <div class="login-logout">
                    <a href="{% url 'medic_app:login' %}">Login</a>
                </div>
                {% endif %}
            </div>
            
        </header>
        {% block main %}
        {% endblock %}    

    </div>

    <footer class="app-footer">
        <ul>
            <a class="data-tabs" href="{% url 'medic_app:index' %}">
                <li class="tab is_active">
                    <i class="fa fa-home"></i>
                    Home
                </li>
            </a>
            <a class="data-tabs" href="">
                <li class="tab">
                    <i class="fa fa-heart"></i>
                    Saved
                </li>
            </a>
            {% if request.user.is_authenticated %}
            <a class="data-tabs" href="{% url 'medic_app:profile' user.pk %}">
                <li class="tab">
                    <i class="fa fa-user"></i>
                    Profile
                </li>
            </a>
            {% else %}
            <a class="data-tabs" href="">
                <li class="tab">
                    <i class="fa fa-user"></i>
                    Profile
                </li>
            </a>
            {% endif %}

            <a class="data-tabs" href="">
                <li class="tab">
                    <i class="fa fa-map-marker"></i>
                    Find Store
                </li>
            </a>
        </ul>
    </footer>
    
    <script>
        setTimeout(() => {
        document.getElementById('splash').classList.toggle('fade')
        }, 500);
        
        function changeFlag() {
            var flag = document.getElementById("myLocation").value;
            console.log(flag);
            {% verbatim %}
            console.log('{% static "img/' + flag + '.svg" %}');
            document.getElementById("myFlag").src = "/static/img/" + flag + ".svg";
            {% endverbatim %}
            
        }

        function selectCountry() {
            var country = document.getElementById("myLocation").value;
            // document.getElementById("selected").innerHTML = country;
            changeFlag();
        }

        window.onload = () => {
            const tab_switchers = document.querySelectorAll('.data-tabs');
            for (let i = 0; i < tab_switchers.length; i++) {
                const tab_switcher = tab_switchers[i];
                
                tab_switcher.addEventListener('click', () => {
                    document.querySelector('.tab.is_active').classList.remove('is_active');
                    tab_switcher.classList.add('is_active');

                })
            }
        }
    </script>
    
    </body>
    </html>