{% extends "medic_app/base.html"%}

{% block main %}
	<div class="search-filter">
		<div class="filter">
		<img src="https://upload.wikimedia.org/wikipedia/commons/9/9c/Flag_of_Denmark.svg" alt="">
		<i class="fa fa-arrow-right"></i>
		<img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Bandera_de_Espa%C3%B1a.svg" alt="">
		</div>
		<form action="{% url 'medic_app:search' %}" method="POST">
		{% csrf_token %}
		<input type="search" class="search form-control" name="searched" placeholder="Search drugs">
		<button>Search</button>
		</form>  
	</div>

	<div class="search-grid container">

        <div class="medicine-item">
			<div class="medicine-img">
				<img src="https://www.nicepng.com/png/detail/776-7767361_nurofen.png" alt="">
			</div>
		  <h4>Nurofen Forte</h4>
		  <div class="card-bottom">
			<p>Fast pain relief, lowers fever, treats inflamation</p>
			<div class="save-button">
				<i class="fa fa-heart"></i>
			</div> 
		  </div>  
		</div>
        
		<div class="medicine-item">
			<div class="medicine-img">
				<img src="https://www.brufen.com/content/dam/bss/divisionalsites/brufen/kw/en/images/new-BRUFEN-400-Pack-updated.png" alt="">
			</div>
		  <h4>Brufen 400</h4>
		  <div class="card-bottom">
			<p>Fast pain relief, lowers fever, treats inflamation</p>
			<div class="save-button">
				<i class="fa fa-heart"></i>
			</div> 
		  </div>
		</div>

	</div>

{% endblock %}