{% extends "medic_app/base.html"%}
{% block main %}

    <div class="search-filter">
      <div class="filter">
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/9c/Flag_of_Denmark.svg" alt="">
        <i class="fa fa-arrow-right"></i>
        {% load static %}
        <img id="myFlag" src="{% static 'img/ES.svg' %}" alt=""><span id="selected"></span>
        <select id="myLocation" onchange="selectCountry()">
          <option value="ES" selected>{{user.location}}</option>
          <option value="HU" >HU</option>
          <option value="DE" >DE</option>
        </select>
      </div>
      <form action="{% url 'medic_app:search' %}" method="POST">
        {% csrf_token %}
        <input type="search" class="search form-control" name="searched" placeholder="Search drugs">
        <button>Search</button>
      </form>  
    </div>
    
    <div class="grid container">

      <a href="">
        <div class="item left-diagon box-1" id="box-1">
          <h4>History</h4>
          <img src="https://i.ibb.co/BKgzCc5/medicine.png" alt="">
        </div>
      </a> 
      {% if request.user.is_authenticated %}
      <a href="{% url 'medic_app:profile' user.pk %}">
        <div class="item right-diagon" id="box-2">
          <h4>Profil</h4>
          <img src="https://www.pngall.com/wp-content/uploads/5/Profile-Male-PNG.png" alt="">
        </div>
      </a>
      {% else %}
      <a href="">
        <div class="item right-diagon" id="box-2">
          <h4>Profil</h4>
          <img src="https://www.pngall.com/wp-content/uploads/5/Profile-Male-PNG.png" alt="">
        </div>
      </a>
      {% endif %}

      <a href="">
        <div class="item right-diagon" id="box-3">
          <h4>Saved drugs</h4>
          <img src="https://i.ibb.co/XY6WTq6/medal.png" alt="">
        </div>
      </a>
      
      <a href="">
        <div class="item left-diagon" id="box-4">
          <h4>Find store</h4>
          <img src="https://www.pngall.com/wp-content/uploads/5/Google-Maps.png" alt="">
        </div>
      </a>
    </div>
{% endblock %}

