{% extends "medic_app/base.html" %}

{% block main %}
<div class="login-form">
    <h1>Login</h1>
    <form action="{% url 'medic_app:login' %}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input class="login-button" type="submit" value="Login">
    </form>
    <p>Don't have an account? <a href="{% url 'medic_app:register' %}">Register</a></p>
</div>

{% endblock main %}
