{% extends "base.html" %}

{% block main %}

<form action="{% url 'password_change' %}" method="POST">
    <fieldset>
        <legend>Please change your password</legend>
        {% csrf_token %}
        <!--<input type="text" name="username" placeholder="User name">-->
        <input type="password" name="password" placeholder="Password">
        <button>Submit</button>
    </fieldset>
</form>
{% endblock main %}
