{% extends "medic_app/base.html" %}

{% block main %}

<div class="login-form">
    <div class="profile-img">
        <img src="" alt="">
    </div>
    <h3>Your Details</h3>

    <form action="{% url 'medic_app:profile' user.pk %}" method="POST" id="profile-form">
        {% csrf_token %}
        <fieldset>
            {{ user_form.as_p }}
            <p style="display:inline">In{{location_form}}</p>
        <button>Update User</button>
        </fieldset>
    </form>
    
</div>

{% endblock main %}