{% extends "medic_app/base.html" %}

{% block main %}
<div class="login-form" id="register-form">
    <h1>Register</h1>
    <form action="{% url 'medic_app:register' %}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input class="login-button" type="submit" value="Register">
    </form>
    <p>Already have an account? <a href="{% url 'medic_app:login' %}">Login</a></p>
</div>

{% endblock main %}