{% extends "medic_app/base.html"%}

{% block main %}
	<div class="search-filter">
		<div class="filter">
			<img src="https://upload.wikimedia.org/wikipedia/commons/9/9c/Flag_of_Denmark.svg" alt="">
			<i class="fa fa-arrow-right"></i>
			{% load static %}
        	<img id="myFlag" src="{% static 'img/ES.svg' %}" alt=""><span id="selected"></span>
        	<select id="myLocation" onchange="selectCountry()">
          		<option value="ES" selected>{{user.location}}</option>
          		<option value="HU" >HU</option>
          		<option value="DE" >DE</option>
        	</select>
		</div>
		<form action="{% url 'medic_app:search' %}" method="POST">
		{% csrf_token %}
		<input type="search" class="search form-control" name="searched" placeholder="Search drug">
		<button>Search</button>
		</form>  
	</div>
	
	<div class="search-grid container">
		{% if searched %}
			{% if drugs %}
				<div class="search-info">
					<p>Alternatives for {{ searched }} in <span class="bold">{{ user.location.country.name }}</span></p>
				</div>
				{% for drug in drugs %}
				<div class="medicine-item">
					<div class="medicine-img">
						<img src="{{ drug.image }}" alt="">
					</div>
					<h4>{{ drug.name }}</h4>
					<div class="card-bottom">
						<p>{{ drug.main_agent_1 }}</p>
						<div class="save-button">
							<i class="fa fa-heart"></i>
						</div> 
				</div>
				</div>
				{% endfor %}
			{% else %}
				<div class="search-info">
					<p>Couldn't find any alternatives :(</p>
				</div>
			{% endif %}

		{% else %}
			<div class="search-info">
				<p>I don't know what you mean :(</p>
			</div>
		{% endif %}
  
	</div>

{% endblock %}