:root {
	--primary-color: #7fa9ec;
	--saved: #fe4f60;
	--dimmed-saved: #ff6d7a;

    --light-bg: #ffe4e9;
	--pink: #ffe9e9;
	--dark-pink: #fcbfbf; 
	--black: #3F4760;
	--white: #ffffff;

}

html,
body {
	/* https://css-tricks.com/couple-takes-sticky-footer/ */
	height: 100%;
	background-color: var(--light-bg);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
}

/* For sticky footer - grow to fill the space */
.content {
	flex: 1 0 auto;
	overflow-x: hidden;
    overflow-y: auto;
}

.container {
	width: 90%;
	margin: 0 auto;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 1rem;
}

.user-login-logout {
	display: flex;
	justify-content: space-between;
	padding: 1rem 1rem 0 1rem;
}

.user-login-logout p {
	color: white;
	font-size: 14px;
	font-weight: 400;
	margin-block-end: 0;
	margin-block-start: 0;
	max-width: fit-content;
}

.user-welcome {
	max-width: fit-content;
}

.login-logout a {
	max-width: fit-content;
	color: white;
	font-size: 14px;
	font-weight: 400;
	margin-block-end: 0;
	margin-block-start: 0;
	text-decoration: none;
}

.app-header {
	background: var(--primary-color);
	box-shadow: 3px 3px 10px #888888;
	border-radius: 0px 0px 0px 50px;
	margin-bottom: 1rem;
}

.app-header .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: space-between; */
	justify-content: center;
	padding: 0 10px 15px 10px;
}

.app-header .logo {
	max-height: 8vh;
}

#brand-name {
	color: #000;
	font-size: 16px;
	text-align: center;
	font-weight: 900;
	margin-bottom: 1rem;
}

#motto {
	color: var(--white);
	text-align: center;
	font-size: 12px;
	font-weight: 400;
	font-stretch: ultra-expanded;
	font-family: monospace;
}

.search-filter input[type='search'] {
	padding: 0.75rem;
	border: var(--black);
	width: 60%;
	border-radius: 15px 0 0 15px;
	font-weight: bold;
}

.search-filter form {
	display: flex;
	justify-content: flex-end;
}

.search-filter form button {
	background-color: var(--dimmed-saved);
	color: var(--white);
	border-style: none;
	border-radius: 0 15px 15px 0;
	padding: 0.75rem;
	width: 40%;
	font-family: monospace;
}

.search-filter input select textarea {
	color: var(--primary-color);
}

.search-filter {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.5rem;
	padding: 1rem 1.5rem;
}

.filter {
	background: var(--white);
	box-shadow: 3px 3px 7px #d2d2d2;
	width: 40%;
	padding: 0.25rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-radius: 15px;
	margin-right: 1rem;
}

.filter img {
	height: 20px;
	text-align: right;
	display: block;
	align-self:center;
}

.fa-arrow-right {
	color: var(--primary-color);
}


.search-info p {
	color: var(--black);
	font-weight: 500;
}

.search-info .bold {
	font-weight: 800;
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
}

.grid .item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 15px;
	padding: 15px;
	box-shadow: 6px 6px 9px #ccc;
	background: var(--white);
	min-height: 20vh;
}

.grid .item h4 {
	text-align: center;
	margin-bottom: 1rem;
	color: var(--black);
}

.grid .item p {
	font-size: 14px;
	color: var(--primary-color);
	font-weight: bold;
	margin-bottom: 20px;
}

.grid .item img {
	text-align: center;
	width: 30px;
	display: block;
	align-self: center;
}

.app-footer {
	flex-shrink: 0;
	background-color: #ffffff;
	color: #b8b8b8;
	font-weight: bold;
	padding: 15px;
	font-size: 14px;
	margin-top: 10px;
	border-radius: 0 60px 0 0;
	box-shadow: 9px 9px 10px 10px #ccc;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.app-footer ul {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.app-footer ul a{
	text-decoration: none;
	color: #b8b8b8;
}

.tab.is_active {
	color: var(--primary-color);
}


.app-footer ul li {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.app-footer ul li i {
	font-size: 22px;
}

.on-page {
	color: var(--primary-color);
}

/* Splash */
#splash {
	position: absolute;
	top: 0;
	left: 0;
	background: var(--primary-color);
	height: 100vh;
	width: 100%;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 1;
	transition: opacity 1s;
	/* color: #000;
	font-size: 30px;
	font-weight: 900; */
}

#splash img {
	max-height: 50px;
}

#splash.fade {
	opacity: 0;
	display: none;
}

/* Desktop */
@media (min-width: 768px) {
	.grid {
		grid-template-columns: repeat(3, 1fr);
	}

	.grid .item img {
		width: 60px;
	}
}

/*--------------- START SEARCH RESULTS PAGE --------------*/

.search-grid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 20px;
	margin-bottom: 15vh;
}

.search-grid .medicine-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 5px;
	padding: 10px 20px 20px 20px;
	box-shadow: 6px 6px 9px #ccc;
	background: var(--white);
	min-height: 20vh;
	margin-bottom: 1rem;
}

.search-grid .medicine-item h4 {
	text-align: center;
	margin-bottom: 1rem;
	color: var(--black);
	font-size: 24px;
}

.search-grid .medicine-item p {
	font-size: 16px;
	color: var(--black);
	text-align: center;
}

.search-grid .medicine-img {
	padding: 10px;
}

.search-grid .medicine-item img {
	width: 100%;
	display: block;
	align-self: center;
}

.card-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.save-button {
	background: var(--white);
	width: 15%;
	box-shadow: 2px 2px 4px #c3c3c3;
	border: 0.2px solid #ebebeb;
	padding: 0.5rem;
	display: flex;
	justify-content: center;
	border-radius: 10px;
	color: var(--dark-pink);
}

.save-button.is_saved {
	color: var(--saved);
}


/*--------------- END SEARCH RESULTS PAGE --------------*/

/* --------------- START LOGIN PAGE --------------- */

.login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	background: var(--white);
	box-shadow: 3px 3px 6px #d7d7d7;
	border-radius: 15px;
	width: 60%;
	margin: auto;
	column-gap: 1rem;
	margin-top: 2rem;
}

.login-form form {
	display: flex;
	flex-direction: column;
	max-width: fit-content;
	justify-content: center
}

.login-form form input {
	width: 100%;
}

.login-form h1 {
	color: var(--black);
	margin-bottom: 1rem;
}

.login-button {
	margin-top: 1rem;
}

input.login-button {
	background: var(--dimmed-saved);
	color: var(--white);
	border-style: none;
	border-radius: 15px;
	padding: 0.5rem;
	font-family: monospace;
	margin-bottom: 1rem;
	font-size: 14px;
}

/* --------------- END LOGIN PAGE --------------- */

/* --------------- START REGISTER PAGE --------------- */

#register-form {
	width: 80%;
	margin: auto;
	column-gap: 1rem;
	margin-top: 2rem;
	margin-bottom: 6rem;
	font-size: 12px;
}

#register-form ul {
	width: 150px;
	margin-bottom: 0.5rem;
}
/* --------------- END REGISTER PAGE --------------- */

/* --------------- START PROFILE PAGE --------------- */

#profile-form fieldset {
	border-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#profile-form fieldset p {
	padding-bottom: 0.75rem;
}

#profile-form fieldset button {
	margin-top: 1rem;
	background: var(--dimmed-saved);
	color: var(--white);
	border-style: none;
	border-radius: 15px;
	padding: 0.75rem;
	font-family: monospace;
	margin-bottom: 1rem;
	font-size: 14px;
}

/* --------------- END PROFILE PAGE --------------- */



